.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 480px;
  background: var(--med-dark-gradient);
  border-radius: var(--border-radius);
  /* padding: 5px 10px; */
}

.title {
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  /* margin-bottom: 5px; */
}

.logBoard {
  width: 95%;
  height: 100%;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  border-radius: var(--border-radius);
  background: linear-gradient(#32363a, #1f2325);
  padding: 5px;
  /* border: 2px solid wheat; */
}

.logEntry {
  width: 100%;
  background-color: var(--medium-grey);
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}
