:root {
  --medium-grey: #53575c;
  --dark-grey: #17171ca8;
  --border-radius: 10px;
  --med-dark-gradient: linear-gradient(#3d4246, #24282b);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}
